<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>【<%= l(@first_day, format: :middle) %>】勤怠管理表</td>
      <td>指定勤務開始時間：<%= format_basic_info(@user.designated_work_start_time) %><br>
          指定勤務終了時間：<%= format_basic_info(@user.designated_work_end_time) %></td>
      <td colspan ="3">基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.uid %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
  <div class="superior-informaiton">
    <% if @user == current_user %>
    
      <% if @change_attendance_number > 0 %>
        <%= link_to "勤怠変更申請のお知らせ", change_attendance_path, remote: true %>
      <span class="request-number" >
        <%= @change_attendance_number.to_s + "件のお知らせがあります" %><br>
      </span>  
      <% end %>
      
      <% if @monthly_request_number > 0 %>
        <%= link_to "所属長承認申請のお知らせ", month_request_approval_user_attendance_path(@user), remote: true %>
      <span class="request-number" >
        <%= @monthly_request_number.to_s + "件のお知らせがあります" %>
      </span>
      <% end %>
      
      <% if @over_approval_number > 0 %>
        <%= link_to "残業申請のお知らせ",  edit_overwork_request_approval_user_path, remote: true %>
      <span class="request-number" >
        <%= @over_approval_number.to_s + "件のお知らせがあります" %>
      </span>
      <% end %>
      
    <% end %>
  </div>
</div>


<div class="btn-users-show">
  <% if current_user?(@user) %>
  <%= link_to "勤怠修正ログ(承認済)", attendances_attendance_log_user_path(current_user), class: "btn btn-info" %>
  <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
  <%= link_to "1ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
  <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-info" %>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan ="2">残業申請</th>
        <th rowspan ="2">日付</th>
        <th rowspan ="2">曜日</th>
        <th colspan ="5">【実績】</th>
        <th colspan ="5">所定外勤務</th>
      </tr>
      <tr>
        <th>勤怠登録</th>
        <th>出社</th>
        <th>退社</th>
        <th>在社時間</th>
        <th>備考</th>
        <th>終了予定時間</th>
        <th>時間外時間</th>
        <th>業務処理内容</th>
        <th>指示者確認㊞</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to "残業申請",edit_overwork_request_user_attendance_path(@user,day),remote: true, class: "btn btn-primary btn-attendance" if current_user?(@user)%></td>
          <div id="edit_overwork_request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 0 %>
              <font color="red"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% elsif day.worked_on.wday == 6 %>
              <font color="blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" if current_user?(@user) %>
            <% end %>
          </td>
          <td><% if day.started_at.present? && day.edit_started_at.nil? %>
                <%= l(day.started_at, format: :hour)  %>
                <%= colon if day.started_at.present? %>
                <%= l(day.started_at.floor_to(15.minutes), format: :min) if day.started_at.present? %>
              <% elsif  day.edit_started_at.present? %>
                <%= l(day.edit_started_at, format: :hour)  %>
                <%= colon if day.edit_started_at.present? %>
                <%= l(day.edit_started_at.floor_to(15.minutes), format: :min) if day.edit_started_at.present? %>
              <% end %>
          </td>
          <td><% if day.finished_at.present? && day.edit_finished_at.nil? %>
                <%= l(day.finished_at, format: :hour) %>
                <%= colon if day.finished_at.present? %>
                <%= l(day.finished_at.floor_to(15.minutes), format: :min) if day.finished_at.present? %>
              <% elsif day.finished_at.present? && day.edit_finished_at.present?%>
                <%= l(day.edit_finished_at, format: :hour) %>
                <%= colon if day.edit_finished_at.present? %>
                <%= l(day.edit_finished_at.floor_to(15.minutes), format: :min) if day.edit_finished_at.present? %>
              <% end %>
          </td>    
          <td>
            <% unless day.edit_started_at.present? && day.edit_finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) if day.started_at.present? && day.finished_at.present?%>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% else %>  
              <%= edit_str_times = working_times(day.edit_started_at, day.edit_finished_at) %>
              <% @total_edit_working_times = @total_edit_working_times.to_f + edit_str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= l(day.overwork_time, format: :time) if day.overwork_time.present?%></td>
          <td><%= sum_overworks = over_working_times(day.overwork_time, day.finished_at) if day.overwork_time.present? && day.finished_at.present? %></td>
          <td><%= day.overwork_note if day.overwork_note.present? %></td>
          <td><%= approval_result(day) if day.overwork_superior_id.present? %>
              <%= change_at_req_result(day) if day.change_attendance_id.present? %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="6"></td>
       <td colspan="2"><%= @total = @total_working_times + @total_edit_working_times unless @total_edit_working_times.nil? %></td>
        <td colspan="5">
          <% if @at.monthly_enum == "承認"%>
            所属長承認済
          <% elsif  @at.monthly_enum == "否認"%>
            所属長より否認されました。
          <% else %>
            所属長承認未 
          <% end %>
          
            <%= form_with(model: @at, url: attendances_update_month_request_user_path(@user, params: {date: @first_day}), local: true, method: :patch) do |f| %>
            <% if @user == current_user %>
              <%= f.collection_select :month_superior_id, User.where.not(id: current_user.id).where.not(superior: false), :id, :name %>
               <%= f.hidden_field :monthly_enum, {value: "申請中"} %>
               <%= f.submit "申請", class: "btn btn-primary" %>
            <% end %>
            <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div id="month_request_approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_overwork_request_approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="change_attendance_month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
