<table class ="table table-condenced table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点地</th>
      <th>拠点情報</th>
    </tr>  
  </thead> 
  
  <tbody> 
    <% @bases.each do |base| %>
     <tr>
       <th><%= link_to "編集", edit_basis_path(base), class: "btn btn-primary btn-attendance"%></th>
       <th><%= link_to "削除", base, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-primary btn-attendance" %>
       </th>
       <th><%= base.number %></th>
       <th><%= base.name %></th>
       <th><%= base.type %></th>
     </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "拠点情報追加", new_basis_path, class: "btn btn-primary btn-attendance" %>
