<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">勤怠変更のお知らせ</h3>
    </div>
    <div class="modal-body">
      <%= form_with(model: @users, url: attendances_update_change_attendance_month_user_path(@users, @request_su), local: true, method: :patch) do |f| %>
        <% @users.each do |user| %>
          <h4><%= "【#{user.name}からの１ヶ月分の勤怠申請】" %></h4>
          <table class="table-bordered table-condensed">
            <thead>
              <tr>
                <th rowspan ="2">日付</th>
                <th rowspan ="2">曜日</th>
                <th colspan = "2">変更前</th>
                <th colspan = "2">変更後</th>
                <th rowspan ="2">備考</th>
                <th rowspan ="2">指示者確認㊞</th>
                <th rowspan ="2">変更</th>
                <th rowspan ="2">勤怠を確認する</th>
              </tr>
              <tr>
                <th>出社</th>
                <th>退社</th>
                <th>出社</th>
                <th>退社</th>
              </tr>
            </thead>
            <% @change_req = @request_su.where(user_id: user.id) %>
            <% @change_req.each do |at| %>
            <%= fields_for "attendances[]", at do |af| %>
            <tbody>
              <td><%=  l(at.worked_on, format: :short) %></td>
              <td><%= $days_of_the_week[at.worked_on.wday] %></td>
              <td><%= l(at.started_at, format: :hour) if at.started_at.present? %>
                <%= colon if at.started_at.present? %>
                <%= l(at.started_at.floor_to(15.minutes), format: :min) if at.started_at.present? %>
              </td>
              <td><%= l(at.finished_at, format: :hour) if at.finished_at.present? %>
                <%= colon if at.finished_at.present? %>
                <%= l(at.finished_at.floor_to(15.minutes), format: :min) if at.finished_at.present? %>
              </td>
              <td><%= l(at.edit_started_at, format: :hour) if at.edit_started_at.present? %>
                <%= colon if at.edit_started_at.present? %>
                <%= l(at.edit_started_at.floor_to(15.minutes), format: :min) if at.edit_started_at.present? %></td>
              <td><%= l(at.edit_finished_at, format: :hour) if at.edit_finished_at.present? %>
                <%= colon if at.edit_finished_at.present? %>
                <%= l(at.edit_finished_at.floor_to(15.minutes), format: :min) if at.edit_finished_at.present? %></td>
              <td></td>
              <td><%= af.select :change_at_enum, Attendance.change_at_enums.keys %></td>
              <td><%= af.check_box :change_at_change, {}, "true", "false" %></td>
              <td><%= link_to "確認", user_path(id: user.id, date: at.worked_on), class: "btn btn-primary" %></td>
            </tbody>
            <% end %>  
            <% end %>
          </table>
        <% end %> 
        <%= f.submit "変更を送信する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>