
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-body">
        <div class="form-group field">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
           </button><br><br>
           <div class="modal-body">
             <%= form_with(model: @month_request, url: update_month_request_approval_user_attendance_path(@user, @month_request), local: true, method: :patch) do |f| %>
               <% @users.each do |user| %>
                 <h4><%= "【#{user.name}からの１ヶ月分の勤怠申請】" %></h4>
                   <table class="table table-bordered" id="table-attendances">
                     <thead>
                       <tr>
                         <th>月</th> 
                         <th>指示者確認㊞</th>
                         <th>変更</th>
                         <th>勤怠を確認する</th>
                       </tr>
                    </thead>
                  <% @attendances = @month_request.where(user_id: user.id)%>
                  <% @attendances.each do |at| %>
                     <%= fields_for "attendances[]", at do |af| %>
                      <tbody>
                        <tr>
                          <td><%= at.worked_on.month %>月</td>
                          <td><%= af.select :monthly_enum, Attendance.monthly_enums.keys %></td>
                          <td><%= af.check_box :monthly_request_change, {}, "true", "false" %></td>
                          <td><%= link_to "確認", user_path(id: user.id, date: at.worked_on), class: "btn btn-primary" %></td>
                        </tr>
                     </tbody>
                    <% end %>
                  <% end %>  
                  </table>
               <% end %>  
                <%= f.submit "変更を送信する", class: "btn btn-primary" %>
            <% end %>   
            
           </div>
        </div>
      </div>
  </div>
</div>

